* {
    margin: 0;
    padding:0;
    
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 216, 218);
    

}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(169, 216, 218);
    justify-content: flex-end;
    height:5rem;
}

.logo {
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.links ul {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 1rem;

}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: black;
}
.links li:hover{
    background-color: white;
}

.wrapper {
    display: flex;
    height: 500px;
    

}

.main {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(91, 144, 144);
    align-items: center;
    padding: 15px;
    
}

.form {
    display: flex;
    background-color: rgb(105, 162, 154);
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
}

.footer {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 5rem;

}

    
